/* https://coolors.co/84828f-6a687a-536271-3e4c5e-2c3d55 */
@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.font-1 {
  font-family: 'Anuphan', sans-serif;
}

.font-2 {
 font-family: 'Montserrat', sans-serif;
}

.font-2 {
  font-family: 'Roboto Slab', serif;
}

.xxl {
  font-size: 4rem;
}

.xl {
  font-size: 3rem;
}

.lg {
  font-size: 2rem;
}

.sm {
  font-size: 1rem;
}

.boldest {
  font-weight: 800;
}

.bolder {
  font-weight: 600;
}

.bold {
  font-weight: 500;
}


p {
  color: white;
}

body{
  background-color: lightblue;
  margin: 0;
}
:root {
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}



.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}
.gallery-2{
  transform: rotate(90deg);
}
.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.expand {
  display: absolute;
  width: 125%;
  height: 125%;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}



.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.appear {
  display: block !important;
}

.block {
  display: block;
}

a.rotate-1{
  transform: rotate(360deg) !important;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(20, 20, 20);
}
.gallery-title {
  text-align: center;
  font-size: 20px;
  margin: 30px 0px;
  color: rgb(255, 255, 255);
}
.gallery-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
  column-gap: 15px;
  row-gap: 15px;
  width: 100%;
}
.gallery-item {
  overflow-y: hidden;
  height: 180px;
  width: 280px;
}
.gallery-item img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: all 500ms;
}
.gallery-item:hover img {
  opacity: 1;
  transform: scale(1.5) 50ms;
}
















/* Loading screen */
